//- кнопка каталог товарів
mixin cta(catalog)
    a.catalog-cta(href="#") в каталог

- 
    let orders = {
        step1: {
            circleIcon: "img/boots.svg",
            class: "step1",
            alt: "",
            step: "Крок 1",
            takeBoots: "обираєте товар",
            descript: "Ви обираєте товар який вам найбільше сподобався, додаєте його в корзину і залишаєте заявку, від двох пар взуття, робимо безкоштовну доставку."
        },
        step2: {
            circleIcon: "img/phonetell.svg",
            class: "step2",
            alt: "",
            step: "Крок 2",
            takeBoots: "дзвінок менеджера",
            descript: "Наш менеджер перетелефонує вам для уточнення даних, перед замовленням передивіться чи є саме ваш розмір та код моделі в наявності. Раді будемо дати вам відповіді на запитання."
        },
        step3: {
            circleIcon: "img/box.svg",
            class: "step3",
            alt: "",
            step: "Крок 3",
            takeBoots: "відправка замовлення",
            descript: "Відправка товару здійснюється протягом 1-3 робочих днів, відправляємо сервісом Нова пошта (накладеним платежем), Укрпошта (повна передплата)"
        }
    } 

mixin ordersStep(orders)
    .icon-block(class=`${orders.class}`)
    .step-one 
        p.step #{orders.step}
        p.take-boots #{orders.takeBoots}
        p.step-description #{orders.descript}


-
    let reviews = {
        review1: {
            name: "Шамрай Артем1",
            date: "30.12.2023",
            rate: "1",
            review: "В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною."
        },
        review2: {
            name: "Шамрай Артем2",
            date: "30.12.2023",
            rate: "2",
            review: "В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною."
        },
        review3: {
            name: "Шамрай Артем3",
            date: "30.12.2023",
            rate: "3",
            review: "В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною."
        },
        review4: {
            name: "Шамрай Артем4",
            date: "30.12.2023",
            rate: "4",
            review: "В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною."
        },
        review5: {
            name: "Шамрай Артем",
            date: "30.12.2023",
            rate: "5",
            review: "В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною."
        },
    }

mixin lastReviews(reviews)
  .review-card
    .review-block-hidden
      .flex-between.items-center
        span #{reviews.name}
        span.date #{reviews.date}
      .stars.flex
        - for (let i = 1; i <= 5; i++)
          if (i <= parseFloat(reviews.rate))
            .star.active
          else
            .star
      p #{reviews.review}
